@import "~variables";

.wrapper {
  padding-top: 3rem;
  padding-bottom: 0;
  margin-bottom: -46px;
  position: relative;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 10%;
  left: -5%;
  background: linear-gradient(90deg, #000000 3.03%, rgba(0, 0, 0, 0) 59.36%);
  background-repeat: no-repeat;
  background-image: url("../../../assets/images/shadow-02.png");
  mix-blend-mode: normal;
  opacity: 1;
  width: 100%;
  height: 80%;
  transform: skewX(4deg);
}

.gameWrapper {
  background-color: $white;
  border-radius: 1rem;
  overflow: hidden;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);

  @include media-breakpoint-down(sm) {
    margin-left: -$grid-gutter-width / 4;
    margin-right: -$grid-gutter-width / 4;
  }
}

:global(.night) .gameWrapper {
  background-color: $white--night;
}

.sectionStyle {
  height: auto !important;
  border-bottom: 1px solid #2f2c21;
}

.sectionUnderStyle {
  background: #141417 !important;
  border: 1px solid ;
}
.bullOuter{
  width: 18vw;
  position: absolute;
  right: -14vw;
  top: 50%;
  transform: translateY(-50%);
}
.bullOuterImg{
  width: 100%;
  border-radius: 10px;
}