.brandImageContainer {
  height: 47px;
  width: 47px;
}

.brandImage {
  display: block;
  width: auto;
  height: 100%;
}

.metamaskImage {
  display: block;
  width: auto;
  height: 100%;
}

.ftLine1 {
  display: block;
  width: 100vw;
  height: 2px;
  margin-left: -400px;
  margin-top: 83px;
  opacity: 0.5;
}

.ftLine2 {
  display: block;
  width: 100vw;
  height: 2px;
  margin-left: -400px;
  margin-top: 1px;
  opacity: 0.5;
}